$dark-violet: #0C365A;
$violet: #325BAF;
$sky-blue: #23CEFD;
$green: #01D167;
$grey: #AAAAAA;
$very-light-green: #DDFFEC;
$very-light-blue: #EDF3FF;
$whitish-green: #EDFFF5;
$whitish-pink: #F251951A;
$light-grey: #F0F0F0;
$pink: #f25195;